.LocationBar {
    display: flex;
    height: 40px;
    background-color: lightgray;
    width: 100vw;
    padding: 0 5vw;
}

.LocationBar .location-info{
    display: flex;
    align-items: center;
}

.LocationBar .location-info h3{
    margin-left: 8px;
}

.LocationBar .anticon{
    margin: 0;
}